:root {
  --white: #ffffff;
  --lightgrey1: #d9d9d9;
  --black: #000000;
  --darkblue1: #02073e;
  --darkblue2: #0f2137;
  --darkgrey2: #3c415c;
  --lightgrey2: #a6b1e1;
  --white3: #f3f6fb;
  --text-color: #343d48;
  --lightgrey3: #f3f6fb;


  --font-family: 'DM Sans', sans-serif;
}
